name: 'release'
on:
  push:
    branches: [ "release" ]

env:
  GPR_KEY: ${{ secrets.GPR_KEY }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      # Setup
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'liberica'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
      # Job
      - name: Run tests
        run: ./gradlew :plugin-build:gradle-github-support:test
      - name: Create release tag & changelog
        run: |
          ./gradlew :plugin-build:gradle-github-support:releaseVersion --no-commit
          git push origin --tags
          echo "RELEASE_VERSION=$(git tag --points-at HEAD)" >> $GITHUB_ENV
      - name: Build JAR
        run: |
          ./gradlew :plugin-build:gradle-github-support:clean
          ./gradlew :plugin-build:gradle-github-support:build :plugin-build:gradle-github-support:jar
      - name: Publish Maven artifacts to GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew :plugin-build:gradle-github-support:publishAllPublicationsToGitHubPackagesRepository
      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "plugin-build/gradle-github-support/build/libs/*.jar"
          tag: ${{ env.RELEASE_VERSION }}
